# TAMKEEN FINTECH MVP ENV

NODE_ENV=development

# DATABASE
DATABASE_URL=postgresql://tamkeen:tamkeen_pass@localhost:5432/tamkeen_db

# REDIS
REDIS_URL=redis://localhost:6379

# AUTH
JWT_SECRET=dev_secret_change_me
JWT_REFRESH_SECRET=dev_refresh_secret_change_me

# API
API_PORT=8080
WEB_PORT=3000